<ul class="activitystream__count">
    <li class="activitystream__counts">
        <a href="#"><i class="activitystream__counts__favorite__icon" ></i></a><span class="activitystream__counts__favorite__count">2</span>
        <a href="http://yourshot-uat.nationalgeographic.com{{ object.absolute_url }}"><i class="activitystream__counts__comment__icon" ></i></a><span class="activitystream__counts__comment__count">2</span>
    </li>
</ul>
<a href="http://yourshot-uat.nationalgeographic.com{{ object.absolute_url }}"><img src="http://yourshot-uat.nationalgeographic.com/{{ object.sizes.small-240 }}" class="activitystream__image--small" /></a>
<div class="activitystream__meta">
	<ul class="activitystream__meta__list">
		<li class="activitystream__meta__list__item__image">
    		<img src="/images/{{#getBadge verb.type}}{{verb.type}}{{/getBadge}}" class="activitystream__badge__image">
    	</li>
    	<li class="activitystream__meta__list__item__meta">
    		<a href="http://members.nationalgeographic.com/{{ actor.id }}">{{ actor.firstName }} {{ actor.lastName }}</a> {{#toLower verb.type}}{{verb.type}}{{/toLower}} the photo <a href="http://yourshot-uat.nationalgeographic.com{{ object.absolute_url }}">{{ object.title }}</a> by <a href="http://members.nationalgeographic.com/{{ object.owner.id}}/"> {{ object.owner.display_name }}</a>
    		<br /> <div class='activitystream__clock'> </div> {{#formatDate verb.data.created}}{{verb.data.created}}{{/formatDate}}
    	</li>
    </ul>
</div>
