<div class="activityitem">
    <div class="activityitem-social activitysocial social">
        <span class="activitysocial-item">
            <a href="#"><i class="activitysocial-icon fa fa-heart"></i></a><span>{{object.countsFavorites}}</span>
        </span>

        <span class="activitysocial-item">
            <a href="{{object.url}}"><i class="activitysocial-icon fa fa-comment"></i></a><span class="">{{object.countsComments}}</span>
        </span>
    </div>

    <a href="{{ object.url }}"><img src="{{object.imageMedium}}" class="activityitem-image"></a>

    <div class="activitycaption">
        <div class="{{verb.type}} activitycaption-badge"></div>

        <div class="activitycaption-text">
            <div class="caption"><a href="{{actor.url}}">
                    {{ actor.displayName }}</a> {{#toLower verb.type}} {{/toLower}} the {{#getModel object.data.type }}{{/getModel}}
                     <a href="{{ object.url }}">"{{ object.displayName }}"</a>
                    {{#ifCond verb.type 'UPLOADED' }}to{{else}}on{{/ifCond}}
                    <a href="{{ target.url }}">{{#getAppName object.data.type }}{{/getAppName}}</a></div>
            <span class="activitycaption-date date"><i class="activitycaption-timeicon fa fa-clock-o"></i>{{#formatDate verb.data.created }}{{ verb.data.created }}{{/formatDate}}</span>
        </div>
    </div>
</div>