<div class="activityitem">
    <div class="activityitem-social activitysocial social">
        <span class="activitysocial-item">
            <a href="#"><i class="activitysocial-icon fa fa-heart"></i></a><span>{{object.counts.favorites}}</span>
        </span>

        <span class="activitysocial-item">
            <a href="#"><i class="activitysocial-icon fa fa-comment"></i></a><span class="">{{object.counts.comments}}</span>
        </span>
    </div>

    <a href="{{ object.url }}"><img src="{{object.image.url_medium}}" class="activityitem-image"></a>

    <div class="activitycaption">
        <img src="{{verb.image.url}}" class="activitycaption-badge">

        <div class="activitycaption-text">
            <div class="caption"><a href="{{actor.url}}">
                    {{ actor.display_name }}</a> {{#toLower verb.type}} {{/toLower}} the  {{#toLower object.type}} {{/toLower}} <a href="{{ object.url }}">"{{ object.display_name }}"</a>
                    {{#ifCond verb.type 'UPLOADED' }}to{{else}}on{{/ifCond}}
                    <a href="{{object.app.url}}">{{object.app.display_name}}</a></div>
            <span class="activitycaption-date date"><i class="activitycaption-timeicon fa fa-clock-o"></i>{{#formatDate verb.data.created}}{{verb.data.created}}{{/formatDate}}</span>
        </div>
    </div>
</div>